<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>ONESIGNAL</Name>
    <Type>Notifications</Type>
    <ClassName>genexus.common.notifications.onesignal.{procName}</ClassName>
    <Properties>
      <Property>
        <Name>APP_ID</Name>
        <Value>02405226-9c3f-4427-8235-d0b1ae98b1c3</Value>
      </Property>
      <Property>
        <Name>REST_API_KEY</Name>
        <Value>YTdkYTJjOGMtZTY1Mi00ZDdhLTg5NzktMjE5MjA5NDBiMmNi</Value>
      </Property>
    </Properties>
  </Service>
  <Service>
    <Name>INPROCESS</Name>
    <Type>WebNotifications</Type>
    <ClassName>GeneXus.Http.WebSocket.WSHandler</ClassName>
    <Properties>
      <Property>
        <Name>WEBNOTIFICATIONS_RECEIVED_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONOPEN_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONCLOSE_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONERROR_HANDLER</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
</Services>